src/main/xsd/person-fragment.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="person">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="firstName" type="xsd:string" />
                <xsd:element name="lastName" type="xsd:string" />
                <xsd:element name="birthday" type="xsd:date" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>